*{
    margin: 0;
    padding: 0;
}
header{
    height: 80vh;
    /* border: 5px solid red; */
}
#container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}
#container .left{
    border: 2px solid black;
    /* border: 2px solid red; */
}
#container .left .nav{
    display: flex;
    position: absolute;
    left: 40px;
    top: 10px;
}
#container .left .nav .logo{
    height: 1vh;
    /* border: 2px solid blue; */
}
#container .left .nav .logo img{
    height: 20vh;
}
#container .left .nav .login{
    margin-top: 60px;
    color: black;   
}
#container .left .nav .login ul{
    list-style: none;
    text-transform: capitalize;
    margin-left: 15vw;
    margin-top: 15px;
}
#container .left .nav .login ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;  
    cursor: pointer;
}

#container .left .nav .login ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#container .left .nav .login .black{
    /* color: aliceblue; */
    /* border: 2px solid black; */
    background-color: #ee5a5a;
    padding: 5px 20px;
}

#container .left .left-content{
    position: absolute;
    top: 180px;
    left: 80px;
}
#container .left .left-content .main-heading h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#container .left .left-content .main-heading::after{
    content: '';
    text-transform: capitalize;
    animation:changetext 10s infinite linear;
}


#container .left .left-content h2{
    font-size: 1.6rem;
    font-weight: 10;
    margin-top: 10px;
}
#container .left .left-content .textbox{
    margin-top: 25px;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 10px;
    width: 35vw;
    height: 5vh;
    /* border: 0.1px solid black; */
}
#container .left .left-content .button{
    /* border: 2px solid rgb(255, 123, 0); */
    background-color: #ee5a5a;
    padding: 17px;
    /* margin-left: 1px; */
    font-size: 0.9rem;
    margin-top: 19px;
    text-transform: uppercase;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    /* height: 5vh; */
}
#container .left .left-content .PII{
    margin-top: 22px;
    font-weight: 500;
}
#container .left .left-content .cities{
    margin-top: 15px;
    font-weight: 500;
}
#container .right{
    height: 80vh;
    position: absolute;
    right: 0px;
}
#container .right img{
    width: 100%;
    height: 100%;
}
#features{
    height: 60vh;
    background-color: rgb(36, 18, 18);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
}
#features .features-items{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 75px;
    /* margin: 0px 60px;
    padding-left: 60px; */
}
#features .features-items .features-img img{
    height: 32vh;
}
#features .features-items .features-content{
    color: white;
}
#features .features-items .features-content h1{
    font-size: 1.1rem;
    margin: 25px 0px 0px 60px;
}
#features .features-items .features-content p{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 15px 10px 0px 25px;
}

/* track order data */
#track-order{
    height: 86vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
#track-order .track-order-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 70px;
    width: 35vw;
    /* border: 2px solid red; */
}
#track-order .track-order-content h1{
    font-size: 2.3rem;
    width: 25vw;
    color: rgb(49, 42, 42);
}
#track-order .track-order-content p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 19px;
    width: 28vw;
    color: rgb(95, 89, 89);
}
#track-order .track-order-content .track-left-img{
    margin-top: 70px;
    cursor: pointer;
    
}
#track-order .track-mobile .mobile1 img{
    height: 75vh;
    position: absolute;
    top: 0px;
    left: 45vw;
}
#track-order .track-mobile .mobile2 img{
    height: 70vh;
    position: absolute;
    bottom: 0px;
    right: 2vw;
}

.track-mobile img{
    height: 50vh;
}

/* find food container */
#find-food{
    height: 10vh;
    border-top: 4px solid black;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.bearkfast-delhi h1{
    /* border: 2px solid yellow; */
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.left-find-food{
    height: 77vh;
    width: 15vw;
    /* border: 2px solid blue; */
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 15px;
    box-shadow: 0px 4px 8px #00000029;
    opacity: 1;
    /* margin-top: 10px; */
    /* box-sizing: border-box; */
}
.location-dropdown{
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
}
/* .location-dropdown h1{
    font-size: 1.2rem;
} */
.location-dropdown p{
    font-size: 0.9rem;
    margin: 0px 0px 10px 0px;
}
#select-location{
    width: 13vw;
    height: 30px;
    /* font-weight: 500; */
}
.headoffood{
    font-size: 1.1rem;
    margin: 10px 0px 10px 0px;
}
.check1{
    margin-bottom: 10px;
}
.right-find-food{
    height: 85vh;
    width: 50vw;
    /* border: 2px solid red; */
    position: absolute;
    top: 100px;
    left: 25vw;
    font-family: Arial, Helvetica, sans-serif;
}
.main-food-option{
    height: 34vh;
    width: 70vw;
    /* border: 2px solid greenyellow; */
    margin-bottom: 40px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    cursor: pointer;
}
.food-option{
    display: flex;
    /* border: 2px solid chocolate; */
    padding-bottom: 10px;
}
.right-find-food img{
    height: 17vh;
    width: 17vh;
    border-radius: 23px;
    margin: 20px 0px 0px 20px;
}
.right-find-food h1{
    margin: 40px 0px 0px 35px;
    text-transform: capitalize;
}
.right-find-food p{
    margin: 5px 0px 0px 35px;
    text-transform: capitalize;
}
.right-find-food .fort{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-find-food .cuisine-price p{
    text-transform: uppercase;
    font-size: 0.9rem;
}
.right-find-food .cuisine-price .MRP p{
    font-weight: 700;
}
.cuisine-price{
    display: flex;
    margin: 5px 0px 0px 0px;
    padding-top: 15px;
    border-top: 2px solid rgb(231, 223, 223);
}
.change-page{
    width: 30vw;
    height: 5vh;
    /* border: 1px solid black; */
    /* border-style: none; */
    position: absolute;
    top: 93vh;
    left: 35vw;
    
}
.change-page button{
    border-style: none;
    border: 1px solid rgb(190, 187, 187);
    border-radius: 5px;
    height: 5vh;
    width: 3vw;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}
.change-page button:nth-child(2){
    background-color: rgb(151, 147, 147);
}
.change-page button:hover{
    background-color: rgb(151, 147, 147);
}
footer{
    height: 15vh;
    /* background-color: black; */
    position: relative;
    top: 90vh;
}
.footer{
    width: 100%;
    position: absolute;
    background-color: black;
    /* display: flex; */
}
.footer .left-footer img{
    height: 14vh;
    margin-left: 50px;
    /* background-color: red; */
}
.right-footer{
    width: 40vw;
    /* border: 2px solid red; */
}

.right-footer i{
    height: 10vh;
}

@keyframes changetext{
    0%{content:"Late night at office?";}
     20%{content:"game night?";}
      40%{content:"Hungry?";}
        60%{content:"Cooking gone wrong?";}
          80%{content:"movie marathone?";}
            100%{content:"unexpected guest?";}
}
@media only screen and (max-width: 600px){

    #container{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #container .right img{
        /* position: absolute; */
        display: none;
        
    }
    #container .left .left-content .textbox{
        width: 41vw;
    }
    #features{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }
    #features .features-items .features-content h1{
        margin: 25px 0px 0px 85px;
    }
    #features .features-items .features-content p{
        margin: 15px 10px 20px 50px;
    }

    #container .left .nav .login{
        /* margin-left: 0px; */
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #container .left .nav .login ul{
        position: absolute;
        top: -40px;
        margin-left: 10vw;
        /* margin-bottom: 20px; */
        padding-bottom: 25px;
    }
    #container .left .nav .login ul li{
        margin-bottom: 11px;
        width: 15vw;
    }
    #container .left .nav .login ul li:nth-child(1){
        padding: 4px 12px;
    }
    #container .left .nav .login ul li:nth-child(1):hover{
        border: 2px solid salmon;
    }
    #track-order{
        display: none;
    }
    
    #select-location{
        width: 30vw;
    }
    #find-food{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #find-food .left-find-food{
        width: 70%;
        padding-bottom: 45px;
        position: relative;
    }
     
    #find-food .right-find-food{
    /* border: 2px solid red; */
    width: 77%;
    height: auto;
    position: absolute;
    top: 110vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
}
.main-food-option{
    /* border: 2px solid black; */
    width: auto;
    height: 100%;
}
.food-option{
    /* border: 2px solid chocolate; */
    padding-bottom: 10px;
}
.right-find-food h1{
    margin: 20px 0px 0px 35px;
}
.right-find-food .cuisine-price{
    padding-bottom: 10px;
}
.button-parent{
    position: relative;
}
.change-page{
    width: 70vw;
    height: 5vh;
    position: absolute;
    top: 108vh;
    left: 15vw;
    
}
.change-page button{
    border-style: none;
    border: 1px solid rgb(190, 187, 187);
    /* border-radius: 5px; */
    height: 5vh;
    width: 6vw;
}

footer{
    width: 90vw;
    position: relative;
    
}
.footer{
    position: absolute;
    top: 28vh;
    
}
.footer .left-footer img{
    height: 14vh;
    margin-left: 35vw;
}

}
@media only screen and (max-width: 1100px){
    #container .right img{
        /* position: absolute; */
        display: none;
        
    }
    #track-order{
        display: none;
    }
    #container .left .nav .login ul li:nth-child(2){
        width: 68px;
    }
    .left-find-food{
        height: 83vh;
    }
    .left-find-food .filter{
        margin-bottom: 20px;
    }
    footer{
        margin-top: 50px;
    }
}